body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.dropzone{
  margin-bottom: 15px;
}

.card {
  /* line-height: 5px; */
  font-size: medium;
  line-height: 12px;
  text-align: left;
}

.card small {
  font-size: small;
}